# Cadena de conexión a la BD PostgreSQL de ESTE servicio (Render PostgreSQL o local)
DATABASE_URL=postgres://user:password@host:5432/medicitas_citas

# Puerto en el que escucha este servicio
PORT=4000

# URL pública del otro microservicio (facturacion-service) para la comunicación
FACTURACION_SERVICE_URL=http://localhost:5000
